# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
# *.tfvars
.terraform.lock.hcl

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log

# IDE files
.idea/
.vscode/